/*Fuentes importadas*/
@font-face {
    font-family: 'Edu NSW ACT Foundation', cursive;
    src: url('../recursos/fuentes/Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../recursos/fuentes/Poppins/Poppins-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('../recursos/fuentes/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('../recursos/fuentes/Roboto_Condensed/RobotoCondensed-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../recursos/fuentes/Source_Sans_Pro/SourceSansPro-Black.ttf');
    font-weight: normal;
    font-style: normal;
}



/*Paleta de Colores*/
$color-primario: #041C32;
$color-secundario: #04293A;
$color-cajas: #064663;
$color-botones-enlaces: #ECB365;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Interfaz Dulcería página principal*/
.dulceria{
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;

    .dulce{
        position: relative;
            img{
        width: 100%;
        object-fit: cover;
        height: 200px;
    }
    }
    .descripcion_dulce{
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 25%;
        bottom: 0;
        color: white;
        padding: 20px;
        background-color: $color-cajas;
        text-align: right;
        background: $color-cajas;

        .titulo_dulce{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.4rem;
            color: $color-botones-enlaces;
            background: $color-cajas;
        }
    }
    a{
        padding:5px;
        border-radius: 20px;
        background: $color-botones-enlaces;
        text-decoration: none;
        font-size: 1rem;
        color: white;
    }
    a:hover{
        color: $color-primario;
    }
}
.Dulceria{
    color: $color-primario;
    font-size: 2.4rem;
}
