/*Fuentes importadas*/
@font-face {
    font-family: 'Edu NSW ACT Foundation', cursive;
    src: url('../recursos/fuentes/Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../recursos/fuentes/Poppins/Poppins-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('../recursos/fuentes/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url('../recursos/fuentes/Roboto_Condensed/RobotoCondensed-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../recursos/fuentes/Source_Sans_Pro/SourceSansPro-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Paleta de Colores*/
$color-primario: #041C32;
$color-secundario: #04293A;
$color-cajas: #064663;
$color-botones-enlaces: #ECB365;

/*Clase clearfix*/
.clearfix{
    float: none;
    clear: both;
}

body {
    background: linear-gradient($color-primario, $color-secundario);
}