@use 'base';

.wrap {
    h2 {
        color: base.$color-botones-enlaces;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p {
        color: base.$color-botones-enlaces;
        padding-top: 20px;
    }
    .card{
        background-color: base.$color-cajas;
        .editar{
            color: base.$color-botones-enlaces;
        }
        .editar:hover{
            color: white;
        }
        .table{
            color: base.$color-botones-enlaces;
        }
    }
}