.container {
    .h1{
        color: white;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p{
        color:white;
        padding-top: 20px;
    }
    #modificar{
        width: 50%;
        margin-bottom: 20px;
        label{
            color:white;
        }
    }
    #modif-promo {
        border: 1px solid #ECB365;
        background-color: #ECB365;
        color:white;
        letter-spacing:2px;
        margin-bottom:10px;
        font-weight: bold;
    }
    #modif-promo:hover {
        border: 1px solid white;
        background-color: #064663;
        color:white;
        letter-spacing:2px;
        margin-bottom:10px;
        font-weight: bold;
    }
}