/*Fuentes importadas*/
@font-face {
  font-family: "Edu NSW ACT Foundation", cursive;
  src: url("../recursos/fuentes/Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../recursos/fuentes/Poppins/Poppins-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../recursos/fuentes/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("../recursos/fuentes/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../recursos/fuentes/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Paleta de Colores*/
/*Clase clearfix*/
.clearfix {
  float: none;
  clear: both;
}

body {
  background: linear-gradient(to bottom, #041C32, #04293A) fixed;
}
body .bg-glass {
  background-color: #064663 !important;
  color: #ECB365;
  text-align: center;
  backdrop-filter: saturate(200%) blur(25px);
}
body .boton {
  width: 100%;
  background-color: #ECB365;
  color: #041C32;
  border-radius: 10px;
}

.h1 {
  font-family: "Roboto Condensed";
}

.h2 {
  font-family: "Roboto Condensed";
}

.h4 {
  font-family: cursive;
}

.navbar-toggler {
  background-color: #ECB365;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  margin: 10px 50px;
}
#header #logo {
  width: 40%;
  border-radius: 15px;
}
#header #logo a img {
  width: 150px;
}

#MenuDespegable ul li {
  margin-left: 7px;
  margin-right: 7px;
  letter-spacing: 2px;
}
#MenuDespegable ul li a {
  color: white;
}

.barra-opciones:hover {
  border: 1px solid white;
  background-color: #064663;
  border-radius: 10px;
}

#login {
  border: 1px solid #ECB365;
  border-radius: 10px;
  background-color: #ECB365;
}

#login:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #064663;
  color: white;
}

.carrito {
  margin-left: 30px;
  border: 1px solid #ECB365;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #ECB365;
}

.carrito:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #064663;
  color: white;
}

.carrito svg {
  width: 30px;
  height: 30px;
}

.carrito svg path {
  color: white;
}

@media (max-width: 991px) {
  #MenuDespegable ul li {
    text-align: center;
  }
}
.wrap h2 {
  color: #ECB365;
  padding-bottom: 20px;
  padding-top: 20px;
}
.wrap p {
  color: #ECB365;
  padding-top: 20px;
}
.wrap .card {
  background-color: #064663;
}
.wrap .card .editarPerfil {
  color: #ECB365;
}
.wrap .card .editarPerfil:hover {
  color: white;
  cursor: pointer;
}
.wrap .card .table {
  color: #ECB365;
}
.wrap .card .mostrarPedidos {
  color: #ECB365;
}
.wrap .card .mostrarPedidos:hover {
  color: white;
  cursor: pointer;
}

#formMostrarCli {
  padding: 3%;
}
#formMostrarCli #dato {
  margin-left: 20px;
  margin-right: 20px;
  padding: 1%;
  color: #ECB365;
  background-color: #041C32;
  border-radius: 5px;
  text-align: center;
}
#formMostrarCli #dato input {
  border-radius: 10px;
  background-color: #064663;
  color: white;
  width: 100%;
  border: none;
  text-align: center;
}
#formMostrarCli button {
  width: 90%;
  border-radius: 10px;
  letter-spacing: 1px;
  border-color: white;
}
#formMostrarCli button:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  #perfil {
    margin: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
