/*Fuentes importadas*/
@font-face {
  font-family: "Edu NSW ACT Foundation", cursive;
  src: url("../recursos/fuentes/Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../recursos/fuentes/Poppins/Poppins-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../recursos/fuentes/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("../recursos/fuentes/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../recursos/fuentes/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Paleta de Colores*/
/*estrenos*/
body {
  background: radial-gradient(#04293A, #041C32);
  background-size: cover;
}
body #cabecera .logo {
  background-color: transparent;
  border-radius: 5px;
}
body #cabecera .barra {
  background-color: transparent;
  text-align: right;
}
body #cabecera .barra li a {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  font-family: "Roboto Condensed";
  color: white;
  text-align: center;
}
body #cabecera .barra li a:hover {
  background-color: #064663;
}
body #cabecera .barra li #boton {
  background-color: #ECB365;
}
body #cabecera .barra li #boton:hover {
  color: #064663;
}
body #peliculas {
  padding: auto;
  margin: 3rem;
  border-color: #ECB365;
}
body #peliculas #pelicula {
  font-family: "Roboto Condensed";
  margin: auto;
  transition: all 300ms;
  color: #ECB365;
}
body #peliculas #pelicula .cuadro {
  float: left;
  background-color: #064663;
  padding: 20px;
  margin: 15px 5px;
  border: 5px;
  border-radius: 25px;
  border-color: #ECB365;
}
body #peliculas #pelicula .cuadro .card {
  width: 100%;
  margin: auto;
  background-color: #041C32;
  border-radius: 5px;
}
body #peliculas #pelicula .cuadro .card img {
  width: 210px;
  height: 280px;
  padding: 2px;
  border-radius: 5px;
  transition: all 300ms;
}
body #peliculas #pelicula .cuadro .category {
  width: 100%;
  font-size: 10px;
  padding: auto;
  text-align: center;
}
body #peliculas #pelicula .cuadro .category h5, body #peliculas #pelicula .cuadro .category h6 {
  color: #ECB365;
  text-transform: uppercase;
}
body #peliculas #pelicula .cuadro:hover {
  background-color: #ECB365;
  transition: all 300ms;
}
body #peliculas #pelicula .cuadro:hover .card {
  border-radius: 15px;
  transform: scale(1.05);
}
body #peliculas #pelicula .cuadro:hover .card img {
  border-radius: 15px;
}
body #peliculas #pelicula .cuadro:hover .category {
  transform: scale(0.8);
}
body #peliculas #pelicula .cuadro:hover .category h5, body #peliculas #pelicula .cuadro:hover .category h6 {
  color: #064663;
}

/*# sourceMappingURL=estilos.css.map */
