@charset "UTF-8";
/*Fuentes importadas*/
@font-face {
  font-family: "Edu NSW ACT Foundation", cursive;
  src: url("../recursos/fuentes/Edu_NSW_ACT_Foundation/EduNSWACTFoundation-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../recursos/fuentes/Poppins/Poppins-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../recursos/fuentes/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: url("../recursos/fuentes/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../recursos/fuentes/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Paleta de Colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(4, 41, 58, 0.6), rgba(4, 28, 50, 0.4));
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
}

.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.hero-slider .carousel-cell .inner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.hero-slider .carousel-cell .inner .btn:hover {
  background: #ecb365;
  color: #041c32;
}

.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
  fill: #ecb365;
}

.hero-slider .flickity-page-dots {
  list-style: none;
  bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid #ecb365;
  border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
  background: #ecb365;
  border: 0 solid #ecb365;
}

/*Clase clearfix*/
.clearfix {
  float: none;
  clear: both;
}

.navbar-toggler {
  background-color: #ecb365;
}

/*Perfil*/
body {
  background: linear-gradient(to bottom, #041c32, #04293a) fixed;
}
body .bg-glass {
  background-color: #064663 !important;
  color: #ecb365;
  text-align: center;
  backdrop-filter: saturate(200%) blur(25px);
}
body .boton {
  width: 100%;
  background-color: #ecb365;
  color: #041c32;
  border-radius: 10px;
}

.h1 {
  font-family: "Roboto Condensed";
}

.h2 {
  font-family: "Roboto Condensed";
}

.h4 {
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  margin: 10px 50px;
}
#header #logo {
  width: 40%;
  border-radius: 15px;
}
#header #logo a img {
  width: 150px;
}

#MenuDespegable ul li {
  margin-left: 7px;
  margin-right: 7px;
  letter-spacing: 2px;
}
#MenuDespegable ul li a {
  color: white;
}

.barra-opciones:hover {
  border: 1px solid white;
  background-color: #064663;
  border-radius: 10px;
}

#login {
  border: 1px solid #ecb365;
  border-radius: 10px;
  background-color: #ecb365;
}

#login:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #064663;
  color: white;
}

.carrito {
  margin-left: 30px;
  border: 1px solid #ecb365;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #ecb365;
}

.carrito:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #064663;
  color: white;
}

.carrito svg {
  width: 30px;
  height: 30px;
}

.carrito svg path {
  color: white;
}

@media (max-width: 991px) {
  #MenuDespegable ul li {
    text-align: center;
  }
}
body {
  background: linear-gradient(to bottom, #041c32, #04293a) fixed;
}
body #peliculas {
  padding: auto;
  border: 50px;
  border-color: #ecb365;
}
body #peliculas #pelicula {
  font-family: "Roboto Condensed";
  margin: auto;
  transition: all 300ms;
  color: #ecb365;
}
body #peliculas #pelicula #cajaPelicula {
  float: left;
  background-color: #064663;
  padding: 10px;
  margin: auto auto;
  border: 5px;
  border-radius: 20px;
  border-color: #ecb365 !important;
  /*Cuando haga click entrará en funcionamiento lo siguiente*/
}
body #peliculas #pelicula #cajaPelicula #tarjeta {
  margin: auto;
  background-color: #064663;
  border-radius: 5px;
  text-align: center;
}
body #peliculas #pelicula #cajaPelicula #tarjeta img {
  width: 200px;
  height: 280px;
  padding: 2px;
  border-radius: 5px;
  transition: all 300ms;
}
body #peliculas #pelicula #cajaPelicula #tarjeta .category {
  width: 100%;
  font-size: 10px;
  padding: auto;
  text-align: center;
}
body #peliculas #pelicula #cajaPelicula #tarjeta .category h5 {
  color: #ecb365;
}
body #peliculas #pelicula #cajaPelicula #tarjeta .category h6 {
  color: white !important;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula {
  display: none;
  float: right;
  background-color: #064663;
  padding: 5px;
  margin: 15px 5px;
  border: 5px;
  border-radius: 15px;
  border-color: #ecb365;
  font-size: 14px;
  text-align: center;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula h5 {
  color: #ecb365;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula h6,
body #peliculas #pelicula #cajaPelicula #infoPelicula p {
  color: white !important;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula #boton {
  background-color: #ecb365;
  border: #064663;
  border-radius: 10px;
  padding-top: 8px;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula #boton h5 {
  color: #041c32;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula #boton:hover {
  cursor: pointer;
}
body #peliculas #pelicula #cajaPelicula #infoPelicula #boton:hover h5 {
  color: white;
}
body #peliculas #pelicula #cajaPelicula:hover {
  background-color: #04293a;
  border: solid 1px;
  padding: 10px;
  margin: 5px 5px;
}
body #peliculas #pelicula #cajaPelicula:hover #tarjeta:hover {
  border-radius: 15px;
  border: 3px white solid !important;
  background-color: #064663;
  transform: scale(0.95);
  transition: all 150ms;
}
body #peliculas #pelicula #cajaPelicula:hover #tarjeta:hover img {
  border-radius: 15px;
}
body #peliculas #pelicula #cajaPelicula:hover #tarjeta:hover .category h5 {
  color: #ecb365;
}
body #peliculas #pelicula #cajaPelicula:hover #tarjeta:hover .category h6 {
  color: white !important;
}
body #peliculas #pelicula #cajaPelicula:hover #infoPelicula {
  display: flex;
  background: #04293a;
}
body #peliculas #pelicula #cajaPelicula:hover #infoPelicula p {
  color: white;
}
body #peliculas #pelicula #cajaPelicula:hover #infoPelicula strong {
  color: #ecb365 !important;
}

.containerPromocion .h1 {
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}
.containerPromocion p {
  color: white;
  padding-top: 20px;
}
.containerPromocion #modif-promo {
  border: 1px solid #ECB365;
  background-color: #ECB365;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}
.containerPromocion #modif-promo:hover {
  border: 1px solid white;
  background-color: #064663;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*Cartas Dulcería*/
.container-cartas {
  margin-top: 70px;
  margin-bottom: 100px;
  justify-content: center;
}
.container-cartas h2 {
  color: white;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-left: 100px;
}
.container-cartas .tarjeta {
  margin: 20px 20px;
  background-color: #04293a;
  min-height: 250px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid white;
}
.container-cartas .tarjeta img {
  margin-top: 10px;
}
.container-cartas .tarjeta .card-body h4 {
  color: white;
  letter-spacing: 2px;
}
.container-cartas .tarjeta .card-body a {
  background-color: #ecb365;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}
.container-cartas .tarjeta .card-body a:hover {
  background-color: #064663;
  border: 1px solid white;
  color: white;
}
.container-cartas .tarjeta .card-body p {
  color: white;
}

.menu-tipos-dulces {
  border-radius: 10px;
  /*.nav-link:checked {
      background-color: aqua;
  }*/
}
.menu-tipos-dulces .nav-link {
  color: white;
  letter-spacing: 2px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.menu-tipos-dulces .nav-link:hover {
  background-color: #064663;
  border: 1px solid white;
  border-radius: 10px;
}

.container-menu-dulceria {
  margin: 50px 50px;
}

/*PopUp*/
#myModal .modal-content {
  background-color: #041c32;
}
#myModal .modal-content .card-title {
  color: white;
}
#myModal .modal-content .card-text {
  color: white;
}
#myModal .modal-content .tarjetaPopUp {
  background-color: #041c32;
  border-right: 1px solid white;
}
#myModal .modal-content #accordion .card {
  background-color: #041c32;
}
#myModal .modal-content .card-header {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}
#myModal .modal-content .card-header h2 {
  color: #ecb365;
}
#myModal .modal-content .card-header p {
  color: white;
}
#myModal .modal-content .btn-group-vertical {
  width: 100%;
}
#myModal .modal-content .btn-group-vertical .btn {
  color: white;
  background-color: #064663;
  border: 1px solid white;
  text-align: justify;
  font-weight: bold;
  letter-spacing: 2px;
}
#myModal .modal-content .btn-group-vertical .btn:hover {
  background-color: #ecb365;
}
#myModal .modal-content .modal-footer #botonMenos,
#myModal .modal-content .modal-footer #botonMas {
  background-color: #064663;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-right: 37px;
  border: 1px solid white;
  font-weight: bold;
}
#myModal .modal-content .modal-footer #botonMenos:hover,
#myModal .modal-content .modal-footer #botonMas:hover,
#myModal .modal-content .modal-footer #addProdCarrito:hover {
  background-color: #ecb365;
}
#myModal .modal-content .modal-footer #addProdCarrito {
  background-color: #064663;
  width: 240px;
  border-radius: 10px;
  border: 1px solid white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
}
#myModal .modal-content .modal-footer #cantidad {
  color: #ecb365;
  margin-right: 25px;
  margin-left: -10px;
  text-align: center;
}

/*Estilos para carritoComprar.html*/
#headerCarrito {
  margin: 40px 50px;
}

hr {
  color: white;
  margin-bottom: 60px;
}

#headerCarrito a {
  color: #ecb365;
  text-decoration: none;
  font-size: 20px;
}

#headerCarrito a span {
  padding-left: 20px;
}

.container-detalle {
  border-radius: 10px;
  padding: 30px 0px;
  margin-top: 20px;
  margin-bottom: 70px;
  background-color: #041c32;
  box-shadow: 2px 2px 5px #888888;
}
.container-detalle #logoTopCine {
  width: 100px;
}
.container-detalle .container-boletos,
.container-detalle .container-dulces {
  margin: 20px 0px;
}
.container-detalle h1 {
  color: #ecb365;
  letter-spacing: 1px;
  font-size: 30px;
}
.container-detalle .container {
  text-align: center;
}

.container-dulces {
  width: 100%;
}
.container-dulces .tarjeta-carrito {
  margin: 40px 0px;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 10px;
  padding: 10px 0px;
}
.container-dulces .tarjeta-carrito .col-md-3,
.container-dulces .tarjeta-carrito .col-md-6 {
  color: #ecb365;
  font-size: 15px;
}
.container-dulces .tarjeta-carrito .col-md-3 h3,
.container-dulces .tarjeta-carrito .col-md-6 h3 {
  color: white;
  font-size: 15px;
  margin-top: 8px;
}
.container-dulces .tarjeta-carrito .col-md-3 p,
.container-dulces .tarjeta-carrito .col-md-6 p {
  font-size: 10px;
  margin-top: 5px;
}
.container-dulces .tarjeta-carrito .col-md-3 a {
  text-decoration: none;
  color: #ecb365;
}
.container-dulces .tarjeta-carrito .col-md-3 a:hover {
  color: red;
  cursor: pointer;
}
.container-dulces .tarjeta-carrito .cantidad {
  text-align: center;
  margin-top: -2px;
  color: #ecb365;
  font-size: 15px;
}
.container-dulces img {
  width: 100px;
  margin-top: 8px;
}

#btExplorarMas,
#btPagar {
  background-color: #064663;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

#btExplorarMas:hover,
#btPagar:hover {
  background-color: #ecb365;
}

.container-detPago {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 70px;
  width: 350px;
  height: 250px;
  padding: 30px 0px;
  text-align: center;
  background-color: #041c32;
  box-shadow: 2px 2px 5px #888888;
}
.container-detPago h3 {
  color: white;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 10px;
  margin-bottom: 50px;
}
.container-detPago span {
  color: #ecb365;
}

.container-boletos {
  box-shadow: 2px 2px 5px #888888;
  border-radius: 10px;
}
.container-boletos h3,
.container-boletos h4 {
  font-size: 15px;
  color: white;
}
.container-boletos .header_boleto {
  border-bottom: 2px dashed white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.container-boletos .cuerpo_boleto {
  text-align: left;
  padding: 10px 0px;
}
.container-boletos .container-tipoSala {
  text-align: left;
}
.container-boletos .container-precioEntrada {
  text-align: right;
}
.container-boletos .container-precioEntrada a {
  text-decoration: none;
  color: #ecb365;
}
.container-boletos .container-precioEntrada a:hover {
  color: red;
  cursor: pointer;
}

.modal-body {
  background-color: #064663;
}
.modal-body h1 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.modal-body #paypal-button-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
  text-align: center;
}

/*Perfil*/
.wrap h2 {
  color: #ecb365;
  padding-bottom: 20px;
  padding-top: 20px;
}
.wrap p {
  color: #ecb365;
  padding-top: 20px;
}
.wrap .card {
  background-color: #064663;
}
.wrap .card .editarPerfil {
  color: #ecb365;
}
.wrap .card .editarPerfil:hover {
  color: white;
  cursor: pointer;
}
.wrap .card .table {
  color: #ecb365;
}
.wrap .card .mostrarPedidos {
  color: #ecb365;
}
.wrap .card .mostrarPedidos:hover {
  color: white;
  cursor: pointer;
}

#formMostrarCli {
  padding: 3%;
}
#formMostrarCli #dato {
  margin-left: 20px;
  margin-right: 20px;
  padding: 1%;
  color: #ecb365;
  background-color: #041c32;
  border-radius: 5px;
  text-align: center;
}
#formMostrarCli #dato input {
  border-radius: 10px;
  background-color: #064663;
  color: white;
  width: 100%;
  border: none;
  text-align: center;
}
#formMostrarCli button {
  width: 90%;
  border-radius: 10px;
  letter-spacing: 1px;
  border-color: white;
}
#formMostrarCli button:hover {
  transform: scale(1.1);
}

#perfil button {
  width: 90%;
  border-radius: 10px;
  letter-spacing: 1px;
  border-color: white;
}
#perfil button:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  #perfil {
    margin: auto;
  }
}
.validation {
  background: #346488;
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.validation ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.validation ul li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  transition: 0.5s;
}

.validation ul li.valid {
  color: rgba(255, 255, 255, 0.5);
}

.validation ul li::before {
  content: "\f00d";
  color: red;
  font-family: fontAwesome;
}

.validation ul li.valid::before {
  content: "\f00c";
  color: #0f0;
}

/*# sourceMappingURL=estilos.css.map */
