@use 'base';
footer {
    .links{
        li:hover{
            transform: scale(0.95);
            background-color: base.$color-primario !important;
            transition: all 300ms;
        }
    }
}